.margin-top--16{
    margin-top: 1.6rem;
}
.margin-top--20{
    margin-top: 2rem;
}
.margin-top--24{
    margin-top: 2.4rem;
}
.font-size--24{
    font-size: 2.4rem;
}
.font-size--32{
    font-size: 3.2rem;
}
.font-size--32{
    font-size: 3.2rem;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}