.margin-top--16{
    margin-top: 1.6rem;
}
.margin-top--20{
    margin-top: 2rem;
}
.margin-top--24{
    margin-top: 2.4rem;
}
.font-size--24{
    font-size: 2.4rem;
}
.font-size--32{
    font-size: 3.2rem;
}
.font-size--32{
    font-size: 3.2rem;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.align-items--center{
    align-items: center;
}
.justify-content--center{
    justify-content: center;
}
.justify-content--space-between{
    justify-content: space-between;
}
.gap--20{
    gap: 20px;
}